.page-template-ccc_login div.logo-signin a img {
    max-width: 110px;
}
.btn, button, input[type=button], input[type=submit] {
	font-size: 14px;
}
.page-template-ccc_login {
    background-color: #f5f5f5;
    background: linear-gradient(45deg,#f5f5f5,#f5f5f5);
        background-position-x: 0%;
        background-position-y: 0%;
        background-repeat: repeat;
        background-attachment: scroll;
        background-image: linear-gradient(45deg, rgb(245, 245, 245), rgb(245, 245, 245));
        background-size: auto;
    background-image: url("../img/cccl_login_bg.jpg");
    background-position: center center;
    box-sizing: border-box;
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.page-template-ccc_login .main-raised {
    background-color: rgba(255,255,255,0.95);
    border-radius: 5px;
    border-color: #e5e5e5;
    border-width: 1px;
    padding: 19px 29px 45px;
    max-width: 390px;
    margin: 0 auto;
    box-shadow: 0 0 0 #888;
    padding-bottom: 0px;
    margin-top: 10%;
    box-sizing: border-box;
    padding-top: 35px;
    flex: unset !important;
}

.page-template-ccc_login div.logo-signin {
     text-align: center;
}

.form-control {
    font-size: 16px;
    line-height: 1.42857;
}
.btn, .form-control, .woocommerce #reviews #comments label, body {
	font-size: 14px;
}
h1.form-signin-heading {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.input-group .input-group-addon {
    display: table-cell;
    padding: 0 15px 0 0;
    width: 1%;
}
.input-group .form-group {
	display: table-cell;
}

@-moz-document url-prefix() { 
  .page-template-ccc_login .input-group .input-group-addon {
	    display: inline-block;
	    padding: 0 15px 0 0;
	    width: 1%;
	}
	.page-template-ccc_login .input-group .form-group {
	    display: inline-block;
	    width: 93%;
	}
}
.loginbuttons a{
	margin-top: 24px;
	float: left;
	font-weight: 500;
}
.container.addMemberScreen {
	padding-top: 50px;
}
.d-none {
	display: none !important;
}

.profPicUpBtn {
    background-color: rgba(32,33,36,0.6);
    bottom: 0;
    height: 13%;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    color: #fff;
    width: 69%;
    cursor: pointer;
    margin: auto;
}

img.profileImage {
    max-width: 69%;
    border-radius: 50%;
    -webkit-box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
    -moz-box-shadow: 0 16px 38px -12px rgba(0,0,0,.56),0 4px 25px 0 rgba(0,0,0,.12),0 8px 10px -5px rgba(0,0,0,.2);
    box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
    min-width: 200px;
    min-height: 200px;
}

.col-form-label {
    margin-top: 14px;
}

.red {
	color: #c32222;
}

.row.sectionDiv {
    border: 1px solid #eee;
    padding: 4%;
    margin-bottom: 10px;
}

.sectionDiv h2 {
    margin-top: 0px;
    line-height: 14px;
    margin-bottom: 23px;
    padding-left: 13px;
}

.inputField.dateFields,.inputField.tmpdateFields {
    display: inline-block;
    width: 95%;
}

.input-group-append {
    display: inline-block;
}

.form-check.form-check-inline {
    display: inline-block;
    margin-right: 20px;
}

.margintop {
	margin-top: 10px;
}

.btnGroupAddon {
    cursor: pointer;
}
.page-template-ccc_add_edit_member .row {
	margin-left: 0px;
	margin-right: 0px;	
}

.page-template-ccc_add_edit_member .imageHolder {
    position: relative;
}
.addMemberBtn {
	width: 50%;
	margin-bottom: 50px;
}

.error, .status {
    color: red;
    font-weight: 500;
}

.change-pass-div {
    border: 1px solid #e0dddd45;
    padding: 4%;
    width: 50%;
    margin: auto;
    margin-top: 50px;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 0.05);
    margin-bottom: 50px;
}

.input-group-addon.showHidePass {
    padding: 0;
    position: relative;
    margin: 0;
    z-index: 132;
    margin-left: 35px;
    float: right;
    cursor: pointer;
    margin-top: -36px;
}

.input-group-addon.showHidePass i {
    margin-left: -20px;
    cursor: pointer;
}

.change-pass-div .input-group .form-group {
    display: inline-block;
    width: 100%;
}

.container.add_subscription_fee_div {
	padding: 4% 0%;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-heading {
  color: inherit;
}

.alert-link {
  font-weight: 700;
}

.alert-dismissible {
  padding-right: 4rem;
}

.alert-dismissible .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.75rem 1.25rem;
  color: inherit;
  background-color: transparent;
  outline: none;
  box-shadow: none;
  margin: 0;
}

.alert-primary {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

.alert-primary hr {
  border-top-color: #9fcdff;
}

.alert-primary .alert-link {
  color: #002752;
}

.alert-secondary {
  color: #383d41;
  background-color: #e2e3e5;
  border-color: #d6d8db;
}

.alert-secondary hr {
  border-top-color: #c8cbcf;
}

.alert-secondary .alert-link {
  color: #202326;
}

.alert-success {
	color: #155724;
	background-color: #d4edda;
	border-color: #c3e6cb;
}

.alert-success hr {
	border-top-color: #b1dfbb;
}

.alert-success .alert-link {
	color: #0b2e13;
}

.alert-info {
	color: #0c5460;
	background-color: #d1ecf1;
	border-color: #bee5eb;
}

.alert-info hr {
	border-top-color: #abdde5;
}

.alert-info .alert-link {
	color: #062c33;
}

.alert-warning {
	color: #856404;
	background-color: #fff3cd;
	border-color: #ffeeba;
}

.alert-warning hr {
	border-top-color: #ffe8a1;
}

.alert-warning .alert-link {
	color: #533f03;
}

.alert-danger {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
}

.alert-danger hr {
	border-top-color: #f1b0b7;
}

.alert-danger .alert-link {
	color: #491217;
}

.alert-light {
	color: #818182;
	background-color: #fefefe;
	border-color: #fdfdfe;
}

.alert-light hr {
	border-top-color: #ececf6;
}

.alert-light .alert-link {
	color: #686868;
}

.alert-dark {
	color: #1b1e21;
	background-color: #d6d8d9;
	border-color: #c6c8ca;
}

.alert-dark hr {
	border-top-color: #b9bbbe;
}

.alert-dark .alert-link {
	color: #040505;
}

h1.hestia-title {
	text-transform: capitalize;
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td.dtr-control:before, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th.dtr-control:before {
	background-color: #1799ef;
}

.findMemberDiv {
	margin-bottom: 50px;
	border: 1px solid #eee;
	padding: 4%;
}

h2 button.editbtn , button.editbtn:hover , h2 button.updatebtn , button.updatebtn:hover {
	margin-top: -10px;
}

.form-control[disabled], .form-group .form-control[disabled], fieldset[disabled] .form-control, fieldset[disabled] .form-group .form-control {
	padding-bottom: 0;
	border: none;
	cursor: default;
}

.btn-outline-primary {
	background-color: transparent;
	color: #007bff;
	border-color: #007bff;
}

.btn-outline-primary:hover {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
	color: #007bff;
	background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.findMemberBtn {
	display: block;
}

.getPassInnerCont {
	border: 1px solid #e0dddd45;
	padding: 4%;
	border-radius: 6px 6px 6px 6px;
	box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 0.05);
	margin-bottom: 50px;
}

.row.member-info {
	margin-top: 20px;
	margin-bottom: 20px;
}

.member-info label {
	display: block;
}
.member-info label span {
	font-weight: 500;
	padding-left: 2%;
}

.page-header.header-small .container {
	padding-top: 105px !important;
	padding-bottom: 40px !important;
}

.checkboxesdiv {
	padding-left: 4%;
}
.totalamountdiv .currency , .totalamountdiv .amount {
	color: #e91e63;
	font-weight: bold;
}
.receivePaymentForm.form-horizontal .form-group {
	margin-left: 0;
	margin-right: 0;
}

.divwarpper {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 2%;
	border-radius: 6px;
	border: 1px solid #e0dddd45;
	box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 0.05);
}

.card.searchMemberInEdit {
    margin-bottom: 0;
}

.successIcon {
	font-size: 40px;
}

.verticallyCenterContents.main {
	justify-content: center;
	align-items: center;
}
.add_collection_report .inputField.dateFields {
	max-width: 93%;
}
.container.add_collection_report, .container.directory_report {
    margin-top: 50px;
    margin-bottom: 50px;
}
.table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>th, .table>caption+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>td, .table>thead:first-child>tr:first-child>td {
	text-transform: capitalize;
}

button.dt-button.buttons-csv.buttons-html5.btn.btn-primary:not(.colored-button):not(.btn-left):not(.btn-right):not(.btn-just-icon):not(.menu-item) {
	background: #1799ef;
	color: #fff;
	border: none;
	padding: 10px;
}
button.dt-button.buttons-csv.buttons-html5.btn.btn-primary:not(.colored-button):not(.btn-left):not(.btn-right):not(.btn-just-icon):not(.menu-item) i {
	font-size: 20px;
}
div.dt-buttons {
	float: right;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
	background: #1799ef;
}

.form-check {
  position: relative;
  margin: 1em 0;
  text-align: left;
}
.form-check.form-check-inline {
  display: inline-block;
}
.form-check label {
  cursor: pointer;
  display: inline;
  line-height: 1.25em;
  vertical-align: top;
  clear: both;
  padding-left: 1px;
}
.form-check label:not(:empty) {
  padding-left: 10px;
}
.form-check label:before, .form-check label:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
}
.form-check label:before {
  width: 1.25em;
  height: 1.25em;
  background: #fff;
  border: 2px solid rgba(0, 0, 0, 0.54);
  border-radius: 0.125em;
  cursor: pointer;
  transition: background .3s;
}
.form-check input[type="checkbox"] {
  outline: 0;
  visibility: hidden;
  width: 1.25em;
  margin: 0;
  display: block;
  float: left;
  font-size: inherit;
}
.form-check input[type="checkbox"]:checked + label:before {
  background: #1799ef;
  border: none;
}
.form-check input[type="checkbox"]:checked + label:after {
  transform: translate(0.25em, 0.3365384615em) rotate(-45deg);
  width: 0.75em;
  height: 0.375em;
  border: 0.125em solid #fff;
  border-top-style: none;
  border-right-style: none;
}
.form-check input[type="checkbox"]:disabled + label:before {
  border-color: rgba(0, 0, 0, 0.26);
}
.form-check input[type="checkbox"]:disabled:checked + label:before {
  background: rgba(0, 0, 0, 0.26);
}

.radio {
  position: relative;
  margin: 0 0 10px;
  font-size: 16px;
  line-height: 24px;
}
.radio__input {
  position: absolute;
  top: 4px;
  left: 0;
  width: 36px;
  height: 20px;
  opacity: 0;
  z-index: 0;
}
.radio label.radio__label {
  display: block;
  padding: 0 0 0 28px;
  cursor: pointer;
}
.radio__label:before {
  content: '';
  position: absolute;
  top: 4px;
  left: 0;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 2px solid rgba(0, 0, 0, 0.54);
  border-radius: 14px;
  z-index: 1;
  transition: border-color 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.radio__label:after {
  content: '';
  position: absolute;
  top: 8px;
  left: 4px;
  width: 8px;
  height: 8px;
  background-color: #1799ef;
  border-radius: 50%;
  z-index: 2;
  transform: scale(0, 0);
  transition: transform 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.radio__input:checked + .radio__label:before {
  border-color: #1799ef;
}
.radio__input:checked + .radio__label:after {
  transform: scale(1, 1);
}

.sectionDiv .radio , .horizontalRadioDiv .radio{
  display: inline-block;
  margin-right: 10px;
}

img.rounded.profileImage.tableImage {
    max-width: 50px;
    width: 50px;
    min-width: 50px;
    min-height: 50px;
}
.directory_report .error {
	float: left;
}

.searchFormDob .inputField.dateFields {
	width: 85%;
}

.photoCancelBtn, .photoUpdateBtn {
	display: none;
}

button.btn-outline-primary:focus {
	background-color: #007bff;
}

.form-control.inputField[disabled] {
    padding-top: 12px;
}
.margintop2 {
    margin-top: 2px;
    padding-top: 8px;
}

.radioboxlbl small {
    font-weight: normal;
    font-size: 9px;
    display: inherit;
}

label.col-form-label.childLbl {
    font-weight: normal;
}

.tooltip.bottom .tooltip-inner {
	min-width: 200px;
	text-align: center;
}

.auditLogReportCont .inputField.dateFields {
    display: inline-block;
    width: 90%;
}

.infoHolder {
	margin-top: 20px;
}
.infoHolder p {
    line-height: 24px;
    font-weight: 500;
    padding: 0;
    font-size: 16px;
    margin: 0;
}
.loginbuttons {
	clear: both;
}
.addEditProducts .edateFields {
	max-width: 97%;
    float: left;
}

.addEditProducts .edateFields + .error {
    float: left;
}
.addEditProducts .sectionDiv {
    padding: 3% 2%;
    border: 1px solid #eee;
    border-radius: 5px;
     -webkit-box-shadow: 0 10px 20px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
    -moz-box-shadow: 0 10px 20px -12px rgba(0,0,0,.56),0 4px 25px 0 rgba(0,0,0,.12),0 8px 10px -5px rgba(0,0,0,.2);
    box-shadow: 0 10px 20px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}

.addEditProducts .margin-top {
 	margin-top: 20px;
 }
 
 .addEditProducts .margin-top.form-group {
    margin-top: 30px;
}

.addEditProducts .avilabilitySetupTable .form-group {
	margin-bottom: 0;
}
.bold {
	font-weight: bold;
}
.card, .card-no-width {
	color: #3c4858;
}
.addEditProducts table .form-group {
    margin-bottom: 0;
    padding-bottom: 0;
}
.addEditProducts .table>tbody>tr>td {
    padding-top: 0px;
    padding-bottom: 5px;
}
.addEditProducts .table{
    margin-bottom: 5px;
}

.addEditProducts .addMoreSerivceBtn, .addEditProducts .addMoreBtn {
    padding-right: 2.5%;
}

.btn.btn-primary:not(.colored-button):not(.btn-left):not(.btn-right):not(.btn-just-icon):not(.menu-item).btn-sm {
    padding: 10px 18px;
    font-size: 14px;
    line-height: 15px;
    border-radius: .2rem;
}
.hddates {
	text-align: center;
}

button:disabled,
button[disabled]{
    background-color: #6c757d;
    border-color: #6c757d;
    -webkit-box-shadow: 0 2px 2px 0 rgba(42.4,45.9,49.0,0.14), 0 3px 1px -2px rgba(42.4,45.9,49.0,0.2), 0 1px 5px 0 rgba(42.4,45.9,49.0,0.12) !important;
    box-shadow: 0 2px 2px 0 rgba(42.4,45.9,49.0,0.14), 0 3px 1px -2px rgba(42.4,45.9,49.0,0.2), 0 1px 5px 0 rgba(23,153,239,0.12) !important;
    color: #fff;
}

/* Loader css start */

*.hidden {
  display: none !important;
}

div.loading{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(16, 16, 16, 0.5);
  z-index: 1043;
}

#salesReportTable  tr.release {
	background-color: #dbf0fd;
}

@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.uil-ring-css {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 200px;
}
.uil-ring-css > div {
  position: absolute;
  display: block;
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  border-radius: 80px;
  box-shadow: 0 6px 0 0 #ffffff;
  -ms-animation: uil-ring-anim 1s linear infinite;
  -moz-animation: uil-ring-anim 1s linear infinite;
  -webkit-animation: uil-ring-anim 1s linear infinite;
  -o-animation: uil-ring-anim 1s linear infinite;
  animation: uil-ring-anim 1s linear infinite;
}

/* Loader css End */

.purchase_confirmation_page {
	margin-bottom: 50px;
}
.purchase_confirmation_page h2.h2 {
	font-size: 16px;
	line-height: 36px;
}
.purchase_confirmation_page .purchase-details-div {
	margin: 20px 0px 20px 0px;
}
.purchase_confirmation_page .ticket-div {
	width: 210mm;
	height: 148mm;
	border: 1px solid #ddd;
	margin: auto;
	margin-bottom: 2px;
}

.purchase_confirmation_page .ticket-div  .personal-copy {
	width: 70%;
    border-right: 1px solid #ddd;
    margin: 0;
    height: 100%;
    float: left;
    padding: 10px 20px;
}

.purchase_confirmation_page .ticket-div  .personal-copy .info-div {
	width: 80%;
	float: left;
}

.purchase_confirmation_page .ticket-div  .personal-copy .qrcode-div {
	width: 20%;
	float: right;
}

.purchase_confirmation_page .ticket-div  .office-copy {
	width: 30%;
    margin: 0;
    height: 100%;
    float: right;
    padding: 10px;
}

.border-dotted {
	border: 1px dotted #ddd;
}
.tokens-container {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    clear: both;
    display: inline-block;
}
.token-div {
    padding: 5px;
    min-height: 80px;
}

.ticket-div .personal-copy .info-div p, .office-copy p {
    padding: 0;
    margin: 0;
}
.info-div, .qrcode-div, .tokens-container {
	margin-top: 20px;
}

.ticket-div .personal-copy .description {
    display: inline-block;
    clear: both;
    margin: 20px 0px 0px 0px;
}

.logo-container {
    padding: 0px 0px 10px 0px;
}

.tokens-container {
    position: absolute;
    left: 0;
    bottom: 0;
    min-height: 50px;
}

.sales_by_cat_report .search_form .inputField.tmpdateFields, .sales_by_cat_report .search_form .inputField.dateFields, .add_collection_report .search_form .inputField.dateFields  {
	width: 90%;	
}

.sales_by_cat_report .search_form {
	margin-top: 50px;
}
.sales_by_cat_report .search_form .card.card-form, .add_collection_report .search_form .card.card-form  {
	padding: 4%;
}

.sales_by_cat_report .padding-right, .add_collection_report .padding-right {
	padding-right: 30px;
}
.container.sales_by_cat_report {
    margin-bottom: 50px;
}

.tickets {
	margin-bottom: 5px;
}

.tickets table tbody tr {
	border: none;
}

.tickets table tbody tr td.bdr {
	border-left: 1px solid; 
}
.tickets table tbody tr td {
/* 	padding-top: 0px; */
/* 	padding-bottom: 0px; */
	vertical-align: top;
}
.tickets h2 {
	font-size: 18px;
	line-height: 1;
	padding: 0px;
	margin: 0px;
	font-weight: bold;
}
@media (max-width: 1024px) { 
	.getPassInnerCont {
		width: 60%;
		margin-left: 20%;
	}
	#findMember .form-group, #findMember .form-group .form-control  {
		width: 100%;
	}
	
	.page-header.header-small .container {
	    padding-top: 130px !important;
	    padding-bottom: 20px !important;
	}
	.add_collection_report .inputField.dateFields {
		max-width: 90%;
	}
	.text-sm-left {
		text-align: left;
	}
	.sales_by_cat_report .search_form .inputField.tmpdateFields, .sales_by_cat_report .search_form .inputField.dateFields, .add_collection_report .search_form .inputField.dateFields  {
	    width: 96%;
	}
}

@media (max-width: 768px) {
	.page-template-ccc_login .main-raised {
	    margin-top: 100px !important;
	}
	#findMember .form-group, #findMember .form-group .form-control  {
		width: 100%;
	}
	
	.getPassInnerCont {
		width: 70%;
		margin-left: 15%;
	}
	.page-header.header-small .container {
	    padding-top: 95px !important;
	    padding-bottom: 20px !important;
	}
	.addEditProducts .edateFields {
	    max-width: 95%;
	    float: left;
	}
	
}

@media (max-width: 575.98px) { 
	.inputField.dateFields {
	    display: inline-block;
	    width: 93%;
	}
	.input-group-append {
	    display: inline;
	    float: right;
	}
	
	.sectionDiv h2 {
	    margin-top: 0px;
	    line-height: 34px;
	    margin-bottom: 23px;
	    padding-left: 13px;
	}
	
	.row.sectionDiv {
	    margin-top: 20px;
	}
	
	.addMemberBtn {
		width: 100%;
	}
	
	.page-template-ccc_changepassword .container {
		margin: 0px;
	}
	
	.change-pass-div {
	    padding: 4%;
	    width: 90%;
	}
	
	.getPassInnerCont {
	    width: 100%;
	    margin-left: 0%;
	    padding: 4%;
	}
	
	.add_collection_report .inputField.dateFields {
	    max-width: initial;
	}
	
	h3, .h3 {
	    font-size: 18px;
	}
	.container.pay_subscription_fee_div {
	    width: 90%;
	}
	.imageAndButtonCont {
	    margin-bottom: 40px;
	}
	button.editbtn {
	    margin-top: 0px !important;
	}
	table.dataTable>tbody>tr.child ul.dtr-details>li.text-right {
    text-align: left;
	}
	.sales_by_cat_report .search_form .inputField.tmpdateFields, .sales_by_cat_report .search_form .inputField.dateFields, .add_collection_report .search_form .inputField.dateFields  {
	    width: 95%;
	}

}

@media (max-width: 425px) { 
	.page-header.header-small .container {
	    padding-top: 90px !important;
	    padding-bottom: 20px !important;
	}
	.sales_by_cat_report .search_form .inputField.tmpdateFields, .sales_by_cat_report .search_form .inputField.dateFields, .add_collection_report .search_form .inputField.dateFields {
	    width: 93%;
	}
}
 